$border-color: #000;
$background-color: #fff;

@mixin border($type, $color: $border-color) {
    @if $type == none {
        border: 1px solid $color;
    }
    @else {
        border#{-$type}: 1px solid $color;
    }
}